# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
!jupyter nbextension enable --py gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: OK

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
weather_data = pd.read_csv("../WeatherPy/output_data/city_data_export.csv")
weather_data

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Bestöbe,50,KZ,1604879031,76,52.50,73.10,37.26,25.99
1,Katherine,59,AU,1604879031,58,-14.47,132.27,87.80,9.17
2,Ushuaia,40,AR,1604878567,78,-54.80,-68.30,44.60,26.40
3,Punta Arenas,0,CL,1604879031,70,-53.15,-70.92,44.60,18.34
4,Ribeira Grande,56,PT,1604879031,59,38.52,-28.70,61.18,8.99
...,...,...,...,...,...,...,...,...,...
572,Luga,0,RU,1604879090,89,58.74,29.85,34.75,6.15
573,Vila,54,PT,1604878930,93,42.03,-8.16,53.01,4.74
574,Vestmannaeyjar,97,IS,1604878967,81,63.44,-20.27,44.53,25.57
575,Fuerte Olimpo,89,PY,1604879091,31,-21.04,-57.87,89.20,5.19
576,Suşehri,0,TR,1604879091,62,40.16,38.09,43.21,2.73

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = weather_data[["Lat", "Lng"]]

# Store Humidity in humidity
humidity = weather_data["Humidity"]

In [5]:
# Heatmap of humidity
locations = weather_data[["Lat", "Lng"]]
humidity = weather_data["Humidity"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# Narrow down the cities with wind speed less than 10 mph, cloudiness equals to 0 and max temp between 60 and 80
narrowed_city_df = weather_data.loc[(weather_data["Wind Speed"] <= 10) & (weather_data["Cloudiness"] == 0) & \
                                   (weather_data["Max Temp"] >= 70) & (weather_data["Max Temp"] <= 80)].dropna()

narrowed_city_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
34,Karratha,0,AU,1604878873,41,-20.74,116.85,78.53,9.10
84,Delhi,0,IN,1604879010,87,28.67,77.22,72.00,2.08
176,Saint-Philippe,0,RE,1604878955,73,-21.36,55.77,73.40,1.12
228,Ormara,0,PK,1604878978,45,25.21,64.64,75.83,7.27
235,Hansot,0,IN,1604879056,41,21.58,72.80,70.79,7.96
254,Hambantota,0,LK,1604878668,81,6.12,81.12,78.84,5.14
264,Ampanihy,0,MG,1604878989,49,-24.70,44.75,79.81,6.73
268,Salalah,0,OM,1604878932,65,17.02,54.09,77.00,3.36
323,Thai Binh,0,VN,1604878873,53,20.45,106.33,71.60,5.82
471,Bara,0,NG,1604879080,30,10.37,10.73,74.71,7.09
495,Wau,0,SS,1604879083,53,7.70,28.00,75.24,1.95
520,General Roca,0,AR,1604879085,64,-39.03,-67.58,73.40,6.93
536,Xai-Xai,0,MZ,1604879087,58,-25.05,33.64,78.58,9.31
560,Tahoua,0,NE,1604879089,23,14.89,5.27,75.20,6.93

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# Create hotel_df
hotel_df = narrowed_city_df.loc[:,["City","Country", "Lat", "Lng"]]

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

hotel_df

               City Country    Lat     Lng Hotel Name
34         Karratha      AU -20.74  116.85
84            Delhi      IN  28.67   77.22
176  Saint-Philippe      RE -21.36   55.77
228          Ormara      PK  25.21   64.64
235          Hansot      IN  21.58   72.80
254      Hambantota      LK   6.12   81.12
264        Ampanihy      MG -24.70   44.75
268         Salalah      OM  17.02   54.09
323       Thai Binh      VN  20.45  106.33
471            Bara      NG  10.37   10.73
495             Wau      SS   7.70   28.00
520    General Roca      AR -39.03  -67.58
536         Xai-Xai      MZ -25.05   33.64
560          Tahoua      NE  14.89    5.27

In [8]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [9]:
for index, row in hotel_df.iterrows():
    # get city, lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params
    params["location"] = f"{lat},{lng}"

    # url and api request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

print("-------End of Search-------")

Retrieving Results for Index 34: Karratha.
Closest hotel in Karratha is Latitude20 The Dunes Apartments.
------------
Retrieving Results for Index 84: Delhi.
Closest hotel in Delhi is The Connaught, New Delhi - IHCL SeleQtions.
------------
Retrieving Results for Index 176: Saint-Philippe.
Closest hotel in Saint-Philippe is Les Embruns Du Baril.
------------
Retrieving Results for Index 228: Ormara.
Closest hotel in Ormara is Alqadri hotel zero point ormara.
------------
Retrieving Results for Index 235: Hansot.
Missing field/result... skipping.
------------
Retrieving Results for Index 254: Hambantota.
Closest hotel in Hambantota is Jade Green Hotel Hambantota.
------------
Retrieving Results for Index 264: Ampanihy.
Missing field/result... skipping.
------------
Retrieving Results for Index 268: Salalah.
Closest hotel in Salalah is HYATT SALALAH HOTEL.
------------
Retrieving Results for Index 323: Thai Binh.
Closest hotel in Thai Binh is ThaiBinh Petro Hotel.
------------
Retrieving Results for Index 471: Bara.
Missing field/result... skipping.
------------
Retrieving Results for Index 495: Wau.
Closest hotel in Wau is Amarula Lodge and Restaurant.
------------
Retrieving Results for Index 520: General Roca.
Closest hotel in General Roca is Hotel El Recreo.
------------
Retrieving Results for Index 536: Xai-Xai.
Missing field/result... skipping.
------------
Retrieving Results for Index 560: Tahoua.
Closest hotel in Tahoua is Hotel Etab.
------------
-------End of Search-------

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# Add marker layer to heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add layer 
fig.add_layer(markers)

# Display
fig

Figure(layout=FigureLayout(height='420px'))